Flask
Flask-SQLAlchemy
Flask-Migrate
scikit-learn
PyPDF2
gunicorn
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.2/en_core_web_sm-3.7.2.tar.gz
numpy
blis==0.7.11
